html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  line-height: 1.7rem;
  background: white;
  overflow: hidden;
  filter: saturate(5);
}
.quiz-container {
  padding: 2rem;
  text-shadow: 0 1px #00000010;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: red;
  min-height: 100vh;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  background-image: url("bg.jpeg"); 
}
.top{
  background-color: purple;
}
.title {
  text-shadow: 2px 2px black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: times;
  color: white;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.0;
}
.text {
  text-shadow: 2px 2px black;
  margin-top: 0;
  margin-bottom: 1rem;
  color: black;
  font-size: 1.5rem;
  text-align: center;
}
.question {
  margin: 2rem auto;
  max-width: 100%;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px black;
}
.option {
  text-shadow: 2px 2px black;
  padding: 2rem;
  color: white;
  background: #ffffff78;
  width: 100%;
  font-size: 1.5rem;
  //*transition: all 0.3s;*//
  filter: blur(0px);
  margin: auto;
}
.option:hover {
  background: purple;
}
.option input:checked .option {
  background: #08038c;
  color: #000;
}
.controls > * {
  margin: 1rem;
}
button {
  padding: 3rem 8rem;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  color: white;
  outline: none;
  transform: scale(0.98);
  transition: all 0.2s;
}
/*input {
  visibility:hidden;
}*/
label {
  cursor: pointer;
}
input:checked + label {
  background: red;
}
button.previous {
  background: pink;
  filter: blur(0px);
  color: black;
  font-weight: bold;
  display: none
}
button.next {
  background: yellow;
  filter: blur(0px);
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 50px;
}
button.restart {
  background: #0cf574;
  color: #000000;
  font-size: 2rem;
  margin-bottom: 1rem;
  transition: all 0.4s;
}
button.restart:hover {
  color: #00000098;
}
button:hover,
button:focus {
  transform: scale(1);
  font-weight: 500;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}
.result {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  min-height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
}
.final-score {
  color: black;
  font-size: 2rem;
}
.summary {
  font-size: 1rem;
  text-shadow: 1px 1px #ffffff50;
  color: #000000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 2rem;
  margin-bottom: 2rem;
}
.summary h1 {
  align-self: center;
}
p {
  line-height: 1.2;
}
h1{
  line-height: 1.1;
}

